<div class="container">
  <h1>Welcome to Imposter!</h1>
  
  <div class="rave-controls">
    <table class="rave-table">
      <tr>
        <th>
        
        <div class="rave-status">
          <p class="rave-<%= @status %>"><%= @status.upcase %></p>
        </div>
        
        <%= link_to "Rave Simulator", rave_url(format: 'rss'), class: 'btn' %>

        <div class="toggle-container">
          <% button_text = @status == "on" ? "Turn Off" : "Turn On" %>
          <%= link_to button_text, {:action => "send_alert", :status => @status}, class: 'btn', local: true %>
        </div>

        </th>
      </tr>
    </table>
  </div>
</div>
