{{ imposter_log_dir }}/*.log {
  notifempty
  daily
  rotate 28
  missingok
  create 664 deploy deploy
  dateext
  compress
  delaycompress
  copytruncate
  olddir {{ imposter_log_dir }}/rotated_logs
}